
body, html {
    font-family: 'Source Serif Pro', serif;
    font-size: 14px;
    line-height: 1.5rem;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
    height: 100%;
}

.container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em; /* Adjusts for spacing */
}

.content {
    display: inline-block;
  vertical-align: middle;
  width: 300px;
}

h1, h2, h3 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;



}

a {
    text-decoration: none;
    color: inherit;
}

.address span {
    display: inline;
}

.logo {
    margin: 0 auto;
    width: 100px;
}

img {
    width: 100%;
}
